<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] = "Home"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--==============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/themify/themify-icons.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/elegant-font/html-css/style.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/lightbox2/css/lightbox.min.css">
    <!--=============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body class="animsition">
    <!-- header fixed -->
    <div class="wrap_header fixed-header2 trans-0-4">
        <!-- Logo -->
        <a href="/Home/Index" class="logo">
            <img src="/images/icons/logo2.png" alt="IMG-LOGO">
        </a>

        <!-- Menu -->
        <div class="wrap_menu">
            <nav class="menu">
                <ul class="main_menu">
                    <li>
                        <a asp-controller="Home" asp-action="Index">HOME</a>
                    </li>

                    <li>
                        <a asp-area="Menu" asp-controller="Menu" asp-action="Menu">MENU</a>
                        <ul class="sub_menu">
                            <li><a href="index.html">SOFT DRINKS</a></li>
                            <li><a href="index.html">LIMONADES AND FRESH</a></li>
                            <li><a href="index.html">WINE AND BEER</a></li>
                            <li><a href="home-02.html">SALADS</a></li>
                            <li><a href="home-03.html">STARTERS</a></li>
                            <li><a href="home-03.html">BURGERS AND TORTILLAS</a></li>
                            <li><a href="home-03.html">FISH</a></li>
                            <li><a href="home-03.html">SEA FOOD</a></li>
                            <li><a href="home-03.html">CHICKEN WITH GARNISH</a></li>
                            <li><a href="home-03.html">PORK WITH GARNISH</a></li>
                            <li><a href="home-03.html">BEEF</a></li>
                            <li><a href="home-03.html">PASTA AND RISOTTO</a></li>
                            <li><a href="home-03.html">SIDE ORDERS</a></li>
                            <li><a href="home-03.html">SAUCES</a></li>
                            <li><a href="index.html">DESSERTS</a></li>
                        </ul>
                    </li>

                    <li class="sale-noti">
                        <a asp-controller="Home" asp-action="BookTable">BOOK TABLE</a>
                    </li>

                    <li>
                        <a asp-controller="Home" asp-action="BookTable">FOOD TRACKER</a>
                    </li>

                    <li>
                        <a asp-controller="Home" asp-action="About">ABOUT US</a>
                    </li>

                    <li>
                        <a asp-controller="Home" asp-action="Contact">CONTACTS</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">PROFILE</a>
                        </li>

                        <li>
                            <a asp-area="Identity" asp-page="/Account/Logout">LOGOUT</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                        </li>

                        <li>
                            <a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>

        <!-- Header Icon -->
        <div class="header-icons">
            <a href="/Users/Profile" class="header-wrapicon1 dis-block">
                <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
            </a>

            <span class="linedivide1"></span>

            <div class="header-wrapicon2">
                <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                <span class="header-icons-noti">0</span>

                <!-- Header cart noti -->
                <div class="header-cart header-dropdown">
                    <ul class="header-cart-wrapitem">
                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/images/item-cart-01.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    White Shirt With Pleat Detail Back
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $19.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/images/item-cart-02.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Converse All Star Hi Black Canvas
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $39.00
                                </span>
                            </div>
                        </li>

                        <li class="header-cart-item">
                            <div class="header-cart-item-img">
                                <img src="/images/item-cart-03.jpg" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt">
                                <a href="#" class="header-cart-item-name">
                                    Nixon Porter Leather Watch In Tan
                                </a>

                                <span class="header-cart-item-info">
                                    1 x $17.00
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="header-cart-total">
                        Total: $75.00
                    </div>

                    <div class="header-cart-buttons">
                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="Cart/Details" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                View Cart
                            </a>
                        </div>

                        <div class="header-cart-wrapbtn">
                            <!-- Button -->
                            <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                Check Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <!-- Header desktop -->
    <div class="container-menu-header-v2">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fab fa-facebook-f"></a>
                <a href="#" class="topbar-social-item fab fa-google-plus-g"></a>
                <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fab fa-twitter"></a>
                <a href="#" class="topbar-social-item fab fa-youtube"></a>
            </div>

            <div class="topbar-child2">
                <span class="topbar-email">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @User.Identity.Name
                    }
                </span>

                <!--  -->
                <a href="/Users/Profile" class="header-wrapicon1 dis-block m-l-30">
                    <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>

                <span class="linedivide1"></span>

                <div class="header-wrapicon2 m-r-13">
                    <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $19.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $39.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $17.00
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="/Cart/Details" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap_header">

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a asp-controller="Home" asp-action="Index">HOME</a>
                        </li>

                        <li>
                            <a asp-area="Menu" asp-controller="Menu" asp-action="Menu">MENU</a>
                            <ul class="sub_menu">
                                <li><a href="index.html">SOFT DRINKS</a></li>
                                <li><a href="index.html">LIMONADES AND FRESH</a></li>
                                <li><a href="index.html">WINE AND BEER</a></li>
                                <li><a href="home-02.html">SALADS</a></li>
                                <li><a href="home-03.html">STARTERS</a></li>
                                <li><a href="home-03.html">BURGERS AND TORTILLAS</a></li>
                                <li><a href="home-03.html">FISH</a></li>
                                <li><a href="home-03.html">SEA FOOD</a></li>
                                <li><a href="home-03.html">CHICKEN WITH GARNISH</a></li>
                                <li><a href="home-03.html">PORK WITH GARNISH</a></li>
                                <li><a href="home-03.html">BEEF</a></li>
                                <li><a href="home-03.html">PASTA AND RISOTTO</a></li>
                                <li><a href="home-03.html">SIDE ORDERS</a></li>
                                <li><a href="home-03.html">SOUCES</a></li>
                                <li><a href="index.html">DESSERTS</a></li>
                            </ul>
                        </li>

                        <li class="sale-noti">
                            <a asp-controller="Home" asp-action="BookTable">BOOK TABLE</a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="BookTable">FOOD TRACKER</a>
                        </li>

                        <li>
                            <!-- Logo2 -->
                            <a href="/Home/Index" class="logo2">
                                <img src="/images/icons/logo.png" alt="IMG-LOGO">
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="About">ABOUT US</a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Contact">CONTACTS</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Login">PROFILE</a>
                            </li>

                            <li>
                                <a asp-area="Identity" asp-page="/Account/Logout">LOGOUT</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                            </li>

                            <li>
                                <a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="/Home/Index" class="logo-mobile">
            <img src="/images/icons/logo3.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <a href="/Users/Profile" class="header-wrapicon1 dis-block">
                    <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $19.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $39.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $17.00
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="/Cart/Details" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">
                        Free shipping for standard order over $100
                    </span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @User.Identity.Name
                            }
                        </span>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fab fa-facebook-f"></a>
                        <a href="#" class="topbar-social-item fab fa-google-plus-g"></a>
                        <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fab fa-twitter"></a>
                        <a href="#" class="topbar-social-item fab fa-youtube"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a asp-controller="Home" asp-action="Index">HOME</a>
                </li>

                <li class="item-menu-mobile">
                    <a asp-area="Menu" asp-controller="Menu" asp-action="Menu">MENU</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">SOFT DRINKS</a></li>
                        <li><a href="index.html">LIMONADES AND FRESH</a></li>
                        <li><a href="index.html">WINE AND BEER</a></li>
                        <li><a href="home-02.html">SALADS</a></li>
                        <li><a href="home-03.html">STARTERS</a></li>
                        <li><a href="home-03.html">BURGERS AND TORTILLAS</a></li>
                        <li><a href="home-03.html">FISH</a></li>
                        <li><a href="home-03.html">SEA FOOD</a></li>
                        <li><a href="home-03.html">CHICKEN WITH GARNISH</a></li>
                        <li><a href="home-03.html">PORK WITH GARNISH</a></li>
                        <li><a href="home-03.html">BEEF</a></li>
                        <li><a href="home-03.html">PASTA AND RISOTTO</a></li>
                        <li><a href="home-03.html">SIDE ORDERS</a></li>
                        <li><a href="home-03.html">SOUCES</a></li>
                        <li><a href="index.html">DESSERTS</a></li>
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>

                <li class="item-menu-mobile">
                    <a asp-controller="Home" asp-action="BookTable">BOOK TABLE</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="BookTable">FOOD TRACKER</a>
                </li>

                <li class="item-menu-mobile">
                    <a asp-controller="Home" asp-action="About">ABOUT US</a>
                </li>

                <li class="item-menu-mobile">
                    <a asp-controller="Home" asp-action="Contact">CONTACTS</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login">PROFILE</a>
                    </li>

                    <li>
                        <a asp-area="Identity" asp-page="/Account/Logout">LOGOUT</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>
                    </li>

                    <li>
                        <a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    @RenderBody()
</body>
</html>
<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                GET IN TOUCH
            </h4>

            <div>
                <p class="s-text7 w-size27">
                    Any questions?
                </p>

                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fab fa-facebook-f"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fab fa-google-plus-g"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fab fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fab fa-twitter"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fab fa-youtube"></a>
                </div>
            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Categories
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Drinks
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Meals
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Desserts
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Links
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Search
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        About Us
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Help
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Track Food
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Returns
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Delivery
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        FAQs
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Newsletter
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center s-text8 p-t-20">
        Copyright © 2018 All rights reserved.
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

@RenderSection("scripts", required: false)
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="~/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript">
    $('.block2-btn-addcart').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

    $('.block2-btn-addwishlist').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");
        });
    });
</script>

<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/noui/nouislider.min.js"></script>
<script type="text/javascript">
    /*[ No ui ]
        ===========================================================*/
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [50, 200],
        connect: true,
        range: {
            'min': 50,
            'max': 200
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="~/vendor/parallax100/parallax100.js"></script>
<script type="text/javascript">
    $('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>



